body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	text-align: left;
	color: white;
	background-color: black;
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

table {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	line-height: 12pt;
	background: #FFF8F0;
	color: black;
	margin: 0 auto;
	text-align: left;
	vertical-align: top;
}

table.cv {
	color: navy;
	background-color: #FFF8F0
}

table.travel {
	color: black;
	background: Silver
}

tr.linkTitle {
	color: green;
	font-weight: bolder;
}

td.line1,td.nav {
	background: aqua
}

td.line0 {
	background: Silver
}

td.travel {
	color: black;
	background: Silver
}

td.module {
	color: white;
	background: black
}

td.title {
	font-weight: bold;
}

a.top:link,a.top:visited,a.top:active {
	color: green
}

a.nav:link,a.nav:active,a.nav:visited {
	color: green
}

a.entete:link,a.entete:active,a.entete:visited {
	color: red
}

a.lien:link,a.lien:active,a.lien:visited {
	color: navy;
	text-decoration: none
}

a.lien2:link,a.lien2:active,a.lien2:visited {
	color: green;
	text-decoration: none
}

a.blanc:link,a.blanc:active,a.blanc:visited {
	color: black;
	text-decoration: none
}

a.travel:link,a.travel:active,a.travel:visited {
	color: navy
}

a.travel2:link,a.travel2:active,a.travel2:visited {
	color: blue
}

a:link,a:active,a:visited {
	color: navy
}

p.lien {
	color: green
}

p.cv {
	text-decoration: underline;
	color: navy
}

h1 {
	color: red
}

h2 {
	color: green
}

div.cv {
	height: 700px;  
	width: 1001px;
}

a.on {
	color: black;
}

a.off {
	color: yellow;
}

/* -----------------------------------------------------------------
	NEW MENU : from www.frogweb.fr/demos/menu-deroulant-2-niveaux.html
-------------------------------------------------------------------- */
#menu, #menu ul {
  padding:0;
  margin:0;
  list-style: none;
  text-align: center;
}

#menu li {
  display:inline-block;
  vertical-align: top;
  position: relative;
  border-right: 1px solid #000;
}
#menu li li {
  display:inherit;
}
#menu a {
  display:block;
  padding:5px 10px;
  text-decoration: none;
  color:#fff;
  font-family:arial;
}
#menu ul li a {
  padding:5px 10px;
}
#menu ul {
  position: absolute;
  z-index: 1000;
  min-width:100%;
  white-space: nowrap;
  text-align: left;
}
#menu ul ul {
  left:100%;
  top:0;
  overflow: hidden;
  max-width: 0;
  min-width: 0;
  transition: 0.3s all;
}
#menu ul li:hover ul {
  max-width: 30em;
}
#menu ul li {
  max-height:0;
  overflow: hidden;
  transition:all 0.8s;
}
#menu li li li {
  max-height: inherit;
}
#menu li:hover li {
  max-height: 15em;
  overflow: visible;
}
/* background des liens menus */
.violet {
	background-color: #65537A;
	background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
.violet li {
    background:#2A2333
}
.violet li:hover {
    background:#65537A
}
#menu li:hover {
    background-image:none;
}
#menu li:hover a, .menu li li:hover a {
    color:#000
}
#menu li:hover li a, #menu li:hover li li a {
    color:#fff
}
#menu li:hover a, #menu li li:hover a, #menu li li li:hover a {
    color:#000
}
